**/bin/
**/obj/
[Dd]ebug/
[Release]/
x64/
x86/
bld/

.vs/
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs

*.nuget.props
*.nuget.targets
packages/
project.lock.json
project.fragment.lock.json

secrets.json
*.local.json

appsettings.Development.json

.DS_Store
.DS_Store?
Thumbs.db
ehthumbs.db